.menu {
  /* agrega el código correcto para colocar el menú correctamente.*/

  background-color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color: whitesmoke;
}
.grid {
  /* agrega el código correcto para colocar los elementos grid  
  uno junto al otro de igual forma.   */
  display: flex;
  margin: -10px;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.grid img {
  border: 5px solid #000000;
  border-radius: 5px
}
.origami {
  border-radius: 20px;
  background-color: white;
  padding: 200px;
  margin: 25px;

  width: 450px;
  font-family: fantasy;
}
